<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Navigation -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/}">Team Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/signUp}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/login}">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</html>