<!DOCTYPE html>
<html xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout” xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
    <head>
        <title>Spring Boot Thymeleaf + Spring Security</title>
    </head>
    <body>

        <th:block layout:fragment="content">

            <header class="common-header text-center text-white">
                <div class="common-header-content">
                    <div class="container">
                        <h1 class="common-header-heading mb-0">Log in to Team manager</h1>
                        <!--   <h2 class="common-header-subheading mb-0">Register, create your team and invite your colleagues</h2>-->
                    </div>
                </div>
            </header>

            <div class="container">
                <div class="p-5">
                    <form th:action="@{/perform_login}" th:object="${loginFormRequestDTO}" method="post">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" th:field="*{password}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="p-5">

                </div>
            </div>
        </th:block>
    </body>

</html>
