<!DOCTYPE html>
<html xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout” xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
    <head>
        <title>Spring Boot Thymeleaf + Spring Security</title>
    </head>
    <body>

        <th:block layout:fragment="content">

            <header style="padding:10em 0">
                <h1 class="text-center"></h1>
            </header>

            <div class="container">
                <div style="padding: 15em 0 2em 0">

                </div>
            </div>
        </th:block>
    </body>

</html>
